$light-grey-color: #afafaf67;
$light-yellow-color: #fdffbf;
$light-blue-color: #83c9f8;

.game-control-panel {
    margin-top: 10px;
    display: flex;
    flex-direction: row;
    font-size: 300%;
    box-sizing: border-box;

    .game-control-cell {
        flex: 1;
        text-align: center;
        border: none;
        outline-color: transparent;

        &-selected {
            background-color: $light-blue-color;

            &:hover {
                background-color: $light-blue-color;
            }
        }
    }
}