$body-color: #6a5acd;

body {
  margin: 0;
  color: $body-color;
  font-family: sans-serif;
}

.icon {
  font-style: normal;
  font-variant: normal;
  font-weight: 400;
  text-decoration: none;
  text-transform: none;
}

.icon-red {
  color: #bd3a3a;
}

.bg-icon {
  width: 24px;
  height: 24px;
  line-height: 24px;
  font-size: 18px;
  background-size: 24px;
}

.icon-notification {
  margin: 0 8px;
}

.running-line {
  width: 100%;
  display: flex;
  background-color: #7561f375;
  line-height: 24px;
  color: #000000;

  .build-info{
    font-weight: 550;
  }
}